<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>519400103421-ntcgbscqel0f802969seu08hfu0k3vsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519400103421-ntcgbscqel0f802969seu08hfu0k3vsg</string>
	<key>API_KEY</key>
	<string>AIzaSyDo5KZgN8Al5VOvlvV1HHX7RWInDY3Jxl4</string>
	<key>GCM_SENDER_ID</key>
	<string>519400103421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>idv.wcl.imahanashitai</string>
	<key>PROJECT_ID</key>
	<string>hanashitime</string>
	<key>STORAGE_BUCKET</key>
	<string>hanashitime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519400103421:ios:4dcaabfe3f5d7e06</string>
	<key>DATABASE_URL</key>
	<string>https://hanashitime.firebaseio.com</string>
</dict>
</plist>